#content, #commentSection {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
}

img {
    transition: all 1s;
}

img:hover {
    transform: scale(1.05);
}

.contPics {
    width: 250px;
    height: 150px;
    margin: 10px;
    transition: all 1s;
}

#pictures {
    margin-left: auto;
    margin-right: auto;
    width: 730px;
    justify-content: center;
}

.containerPics {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#socialMedia {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 650px;
}

#greeting-container {
  margin-top: 20px;
}

p, h1, h2, h3, b, li {
    font-family: 'Raleway', sans-serif;
}